In [21]:
# shirik the dataset, choosing subset of users and movies 
# users who have rated most movies and movies which have received most ratings

import pickle 
import numpy as np 
import pandas as pd 
from collections import Counter

df = pd.read_csv('./data/edited_ratings.csv')
print("Original dataframe size:", len(df))

Original dataframe size: 20000263

In [22]:
N = df['userId'].max() + 1 # number of users 
M = df['movie_idx'].max() + 1 # number of movies 

user_ids_count  = Counter(df['userId'])
movie_ids_count = Counter(df['movie_idx'])

len(user_ids_count), len(movie_ids_count)

(138493, 26744)

In [23]:
# number of users and movies we would like to keep 
n = 10000
m = 2000

# list of tuples (user_id, count)
user_ids = [u for u, c in user_ids_count.most_common(n)]
movie_ids = [m for m, c in movie_ids_count.most_common(m)]

In [24]:
# make a copy, otherwise ids won't be overwritten 
df_small = df[df['userId'].isin(user_ids) & df['movie_idx'].isin(movie_ids)].copy()

df_small.head()

     Unnamed: 0  userId  movieId  rating  movie_idx
960         960       9        1     4.5          1
961         961       9       10     2.5         10
962         962       9       19     3.5         19
963         963       9       32     5.0         32
964         964       9       39     4.5         39

In [25]:
# need to remake user ids and movie idsd since they are no longer sequential 
new_user_id_map = {}
i = 0 
for old in user_ids: 
    new_user_id_map[old] = i 
    i += 1 
print("i:", i) 

new_movie_id_map = {}
j = 0 
for old in movie_ids: 
    new_movie_id_map[old] = j 
    j += 1 
print("j:", j)

i: 10000
j: 2000

In [26]:
print("Setting new ids") 
df_small.loc[:, 'userId'] = df_small.apply(lambda row: new_user_id_map[row['userId']], axis=1)
df_small.loc[:, 'movie_idx'] = df_small.apply(lambda row: new_movie_id_map[row['movie_idx']], axis= 1)

df_small.head()

Setting new ids

     Unnamed: 0  userId  movieId  rating  movie_idx
960         960    7307        1     4.5         10
961         961    7307       10     2.5         68
962         962    7307       19     3.5        143
963         963    7307       32     5.0         19
964         964    7307       39     4.5         85

In [30]:
print("max user id:", df_small.userId.max())
print("max movie id:", df_small.movie_idx.max())

max user id: 9999
max movie id: 1999

In [29]:
print("small dataframe size:", len(df_small))
df_small.to_csv("./data/very_small_rating.csv")

small dataframe size: 5392025

In [31]:
df_small.head()

     Unnamed: 0  userId  movieId  rating  movie_idx
960         960    7307        1     4.5         10
961         961    7307       10     2.5         68
962         962    7307       19     3.5        143
963         963    7307       32     5.0         19
964         964    7307       39     4.5         85